<div class="headerContainer">
  <div class="header">
    <div class="accountInfo">
      <img src="./assets/icons/account_balance.svg" alt="">
      <p class="accountName">Bank account</p>
      <img src="./assets/icons/account_balance.svg" alt="">
    </div>
    <div class="accountBalance">
      <p>Account balance</p>
      <p>1,250.00</p>
    </div>
  </div>
</div>

<div class="optionsContainer">
  <a class="box" (click)="goToEditAccount()">
    <div class="imgBox">
      <img src="./assets/icons/user.svg" alt="">
    </div>
    <p>Edit</p>
  </a>
  <a class="box">
    <div class="imgBox">
      <img src="./assets/icons/user.svg" alt="">
    </div>
    <p>Recharge</p>
  </a>
  <a class="box">
    <div class="imgBox">
      <img src="./assets/icons/user.svg" alt="">
    </div>
    <p>Transfer</p>
  </a>
</div>