@use "../../../modulesScss" as mod;

a {
  color: inherit;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  z-index: 5;
}

.menuContainer {
  position: fixed;
  bottom: 0;
  width: min(100%, 400px);
  display: flex;
  font-size: 0.7rem;
  padding: 0 10px;
  -webkit-tap-highlight-color: transparent;

  & .menuLink {
    transition: all 0.4s;
  }

  & .menuBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    transition: all 0.4s;

    // border: 1px solid red;

    & .imgBox {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      margin-bottom: 8px;
      border: 2px solid black;
      border-radius: 7px;
      transform: rotate(45deg);
      transition: background-color 0.6s, transform 0.4s;
    }
  }
}

.img {
  transform: rotate(-45deg);
}

.w25 {
  width: 25%;
  transform: scale(0.9);
}

.w50 {
  width: 50%;
  transform: scale(1.3);
  transform: translateY(-20px);
}

.boxBgActif {
  background-color: rgba(130, 235, 130, 0.699);
}
