@use "../../../modulesScss" as mod;

.container {
  width: 100%;
  height: calc(90vh - 170px);
  // border: 1px solid red;
}

.transactionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;

  & .sign {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40px;
  }
}

.transactionListContainer {
  width: min(100%, 450px);
  height: 100%;
  overflow-y: auto;

  @include mod.screen500 {
    height: 80%;
    box-shadow: 0 0 13px 0px rgba(128, 128, 128, 0.568);
    background-color: rgba(156, 155, 155, 0.24);
  }
}

.dayContainer {
  position: relative;
  width: 100%;
}

.dayTab {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  padding-left: 8px;
}

.box {
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  // border: 1px solid red;

  & .iconImg {
    width: 30px;
    margin-left: 15px;
  }

  & .infoContainer {
    margin-left: 15px;
    line-height: 1.1rem;

    & .fromAccount {
      margin-left: 7px;
      font-size: 0.8rem;
    }
  }

  & .amount {
    position: absolute;
    right: 18px;
  }
}
