<div class="container">
    <div class="transactionContainer">
        <div class="header">
            <button class="sign" (click)="decreaseMonth()">&lt;</button>
            <div>{{ date | date: " MMM yyyy" }}</div>
            <button class="sign" (click)="increaseMonth()">&gt;</button>
        </div>
        <div class="transactionListContainer">
            <ng-container *ngFor="let dateTab of getCategorizedTransactionsKeys()">
                <div class="dayTab">
                    <p>
                        <span [ngStyle]="{'font-size': '1.9rem'}">{{ dateTab | date:'dd'}}
                        </span>
                        {{ dateTab | date:'MMMM yyyy' }}
                    </p>
                </div>
                <div class="dayContainer" *ngFor="let transaction of categorizedTransactions[dateTab]">
                    <div class="box">
                        <img class="iconImg" [src]="transaction.toAccount.icon" alt="Target account icon">
                        <div class="infoContainer">
                            <p class="toAccount">{{ transaction.toAccount.name }}</p>
                            <p class="fromAccount" *ngIf="transaction.transactionType === 'TRANSFER'">from {{
                                transaction.fromAccount?.name }}
                            </p>
                            <p class="fromAccount" *ngIf="transaction.transactionType === 'RECHARGE'">Recharge</p>

                        </div>
                        <p class="amount">€ {{ transaction.amount | number:'1.2-2' }}</p>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>