<form class="container" [formGroup]="newAccountData">
  <div class="header">
    <p>Create account</p>
    <img class="doneIcon" src="../../../../../assets/icons/check.svg" alt="done" (click)="saveAccount()">
  </div>
  <div class="nameIconContainer">
    <a class="nameContainer" (click)="openSetNameDialog()">
      <p>Name</p>
      <input class="nameValue" [formControl]="newAccountData.controls.name" readonly>
    </a>
    <a class="iconContainer" (click)="openSetIconDialog()">
      <p>Icon</p>
      <img class="icon" [srcset]="newAccountData.controls.icon.value" alt="">
    </a>
  </div>
  <div class="descColorContainer">
    <a class="descContainer" (click)="openSetDescDialog()">
      <p>Description</p>
      <textarea class="descValue" [formControl]="newAccountData.controls.description" readonly></textarea>

    </a>
    <a class="colorContainer" (click)="openSetColorDialog()">
      <p>Color</p>
      <div class="color" [style.background-color]="newAccountData.controls.color.value"></div>
    </a>
  </div>
  <a class="checkBoxContainer">
    <label class="switch">
      <input type="checkbox" checked [formControl]="newAccountData.controls.includeTotal">
      <p>Include in total balance</p>
    </label>
  </a>
</form>