<app-header></app-header>
<router-outlet></router-outlet>
<div class="menuContainer">
    <a routerLink="accounts" class="menuBox" [ngClass]="currentUrl === '/app/accounts' ? 'w40' : 'w20'">
        <div class="imgBox rotate45" [ngClass]="{'boxBgActif': currentUrl === '/app/accounts'}">
            <img class="img" src="./assets/icons/account_balance.svg" alt="">
        </div>
        <p>Accounts</p>
    </a>
    <a routerLink="categories" class="menuBox" [ngClass]="currentUrl === '/app/categories' ? 'w40' : 'w20'">
        <div class="imgBox" [ngClass]="{'boxBgActif': currentUrl === '/app/categories'}">
            <img class="img" src="./assets/icons/account_balance.svg" alt="">
        </div>
        <p>Categories</p>
    </a>
    <a routerLink="transactions" class="menuBox" [ngClass]="currentUrl === '/app/transactions' ? 'w40' : 'w20'">
        <div class="imgBox rotate45" [ngClass]="{'boxBgActif': currentUrl === '/app/transactions'}">
            <img class="img" src="./assets/icons/account_balance.svg" alt="">
        </div>
        <p>Transactions</p>
    </a>
    <a routerLink="mygoals" class="menuBox" [ngClass]="currentUrl === '/app/mygoals' ? 'w40' : 'w20'">
        <div class="imgBox rotate45" [ngClass]="{'boxBgActif': currentUrl === '/app/mygoals'}">
            <img class="img" src="./assets/icons/account_balance.svg" alt="">
        </div>
        <p>My goals</p>
    </a>
</div>