<div class="container">
    <div class="categoryContainer">
        <p class="categoryName">Loyer</p>
        <p class="budgetAmount">2.20</p>
        <div class="categoryBox">

        </div>
        <p class="amount">120.00</p>
    </div>
    <div class="categoryContainer">
        <p class="categoryName">Loyer</p>
        <p class="budgetAmount">2.20</p>
        <div class="categoryBox">

        </div>
        <p class="amount">120.00</p>
    </div>
    <div class="categoryContainer">
        <p class="categoryName">Loyer</p>
        <p class="budgetAmount">2.20</p>
        <div class="categoryBox">

        </div>
        <p class="amount">120.00</p>
    </div>
    <div class="categoryContainer">
        <p class="categoryName">Loyer</p>
        <p class="budgetAmount">2.20</p>
        <div class="categoryBox">

        </div>
        <p class="amount">120.00</p>
    </div>
    <div class="categoryContainer">
        <p class="categoryName">Loyer</p>
        <p class="budgetAmount">2.20</p>
        <div class="categoryBox">

        </div>
        <p class="amount">120.00</p>
    </div>
    <div class="categoryContainer">
        <p class="categoryName">Loyer</p>
        <p class="budgetAmount">2.20</p>
        <div class="categoryBox">

        </div>
        <p class="amount">120.00</p>
    </div>
    <div class="categoryContainer">
        <p class="categoryName">Loyer</p>
        <p class="budgetAmount">2.20</p>
        <div class="categoryBox">

        </div>
        <p class="amount">120.00</p>
    </div>
    <div class="categoryContainer">
        <p class="categoryName">Loyer</p>
        <p class="budgetAmount">2.20</p>
        <div class="categoryBox">

        </div>
        <p class="amount">120.00</p>
    </div>
</div>