<div class="container">
    <div class="header">
        <p>Edit account</p>
        <img class="doneIcon" src="../../../../../assets/icons/check.svg" alt="done">
    </div>
    <div class="nameIconContainer">
        <a class="nameContainer">
            <p>Name</p>
            <p class="nameValue">Bank account</p>
        </a>
        <a class="iconContainer">
            <p>Icon</p>
            <img src="../../../../../assets/icons/account_balance.svg" alt="">
        </a>
    </div>
    <div class="descColorContainer">
        <a class="descContainer">
            <p>Name</p>
            <p class="descValue">Description of account</p>
        </a>
        <a class="colorContainer">
            <p>Icon</p>
            <div class="color"></div>
        </a>
    </div>
    <a class="checkBoxContainer">
        <label class="switch">
            <input type="checkbox" checked>
            <p>Include in total balance</p>
        </label>
    </a>
    <a class="deleteContainer">
        <p>Delete account</p>
    </a>
</div>