<form class="container"
    [ngStyle]="{'padding-bottom': editedAccount.controls.mainAccount.value===false ? '60px' : '25px'}">
    <div class="header">
        <p>Edit account</p>
        <img class="doneIcon" src="./assets/icons/check.svg" alt="done" (click)="saveEditedAccount()">
    </div>
    <div class="nameIconContainer">
        <a class="nameContainer" (click)="openEditNameDialog()">
            <p>Name</p>
            <p class="nameValue">{{ editedAccount.controls.name.value }}</p>
        </a>
        <a class="iconContainer" (click)="openEditIconDialog()">
            <p>Icon</p>
            <img [src]="editedAccount.controls.icon.value" alt="">
        </a>
    </div>
    <div class="descColorContainer">
        <a class="descContainer" (click)="openEditDescDialog()">
            <p>Description</p>
            <p class="descValue">{{ editedAccount.controls.description.value }}</p>
        </a>
        <a class="colorContainer" (click)="openEditColorDialog()">
            <p>Color</p>
            <div class="color" [style.background]="editedAccount.controls.color.value"></div>
        </a>
    </div>
    <a class="checkBoxContainer" *ngIf="editedAccount.controls.mainAccount.value === false">
        <label class="switch">
            <input type="checkbox" [checked]="editedAccount.controls.includeTotal.value">
            <p>Include in total balance</p>
        </label>
    </a>
    <a class="deleteContainer" (click)="openConfirmDialog()" *ngIf="editedAccount.controls.mainAccount.value === false">
        <p>Delete account</p>
    </a>
</form>