<div class="container">
    <div class="box" [ngClass]="{'opacity0': !opacity}">
        <div class="insideBox">
            <a class="boxAccount" (click)="openAccountOptionsDialog()">
                <div class="iconNameContainer">
                    <div class="boxIcon">
                        <img class="img" src="./assets/icons/account_balance.svg" alt="">
                    </div>
                    <p class="name">{{ mainAccount[0] ? mainAccount[0].name : '' }}</p>
                </div>
                <div class="amountContainer">
                    <p>{{ mainAccount[0] ? '€ ' + mainAccount[0].amount : ''}}</p>
                </div>
            </a>
            <div class="myAccountsContainer">
                <p>My accounts</p>
            </div>
            <a class="boxAccount" *ngFor="let account of personalAccounts">
                <div class="iconNameContainer">
                    <div class="boxIcon">
                        <img class="img" src="./assets/icons/account_balance.svg" alt="">
                    </div>
                    <p class="name">{{ account.name }}</p>
                </div>
                <div class="amountContainer">
                    <p>{{ '€ ' + account.amount }}</p>
                </div>
            </a>
            <a class="boxAccount" *ngIf="personalAccounts.length < 5">
                <div class="iconNameContainer">
                    <div class="boxIcon">
                        <img class="img" src="./assets/icons/plus.svg" alt="">
                    </div>
                    <p class="name">Add new account</p>
                </div>
            </a>
        </div>
    </div>
</div>