<div class="container">
    <div class="box" [ngClass]="{'opacity0': !opacity}">
        <div class="insideBox">
            <a class="boxAccount" *ngFor="let account of mainAccount" (click)="openAccountOptionsDialog(account)">
                <div class="iconNameContainer">
                    <div class="boxIcon">
                        <img class="img" [src]="account.icon" alt="">
                    </div>
                    <p class="name">{{ account.name }}</p>
                </div>
                <div class="amountContainer">
                    <p>{{ '€ ' + (account.amount | number: '1.2-2') }}</p>
                </div>
            </a>
            <div class="myAccountsContainer">
                <p>My accounts</p>
            </div>
            <a class="boxAccount" *ngFor="let account of personalAccounts" (click)="openAccountOptionsDialog(account)">
                <div class="iconNameContainer">
                    <div class="boxIcon">
                        <img class="img" [src]="account.icon" alt="">
                    </div>
                    <p class="name">{{ account.name }}</p>
                </div>
                <div class="amountContainer">
                    <p>{{ '€ ' + (account.amount | number: '1.2-2') }}</p>
                </div>
            </a>
            <a class="boxAccount" *ngIf="personalAccounts.length < 5" (click)="openAddAccountDialog()">
                <div class="iconNameContainer">
                    <div class="boxIcon">
                        <img class="img" src="./assets/icons/plus.svg" alt="">
                    </div>
                    <p class="name">Add new account</p>
                </div>
            </a>
        </div>
    </div>
</div>