@use "../../../modulesScss" as mod;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(100%, 1700px);
  height: calc(100vh - 170px);
  //   border: 1px solid red;

  @include mod.screen900 {
    height: calc(100vh - 61px);
  }
}

.box {
  // border: 1px solid red;
  position: relative;
  width: 100%;
  height: 100%;
  transition: opacity 0.4s;
  overflow: hidden;

  @include mod.screen500 {
    width: 450px;
    height: 80%;
    // border: 2px solid gray;
    // border-radius: 10px;
    box-shadow: 0 0 13px 0px rgba(128, 128, 128, 0.568);
    background-color: rgba(156, 155, 155, 0.24);
  }
}

.insideBox {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* ACCOUNTS CONTAINER */

.boxAccount {
  // border: 1px solid red;
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  width: 100%;
  height: 65px;
  border-bottom: 1px solid gray;
  transition: background-color 0.3s;

  @include mod.screen900 {
    &:hover {
      cursor: pointer;
      background-color: rgba(156, 155, 155, 0.144);
    }
  }
}

.iconNameContainer {
  display: flex;
  align-items: center;
  gap: 7px;
}

.boxIcon {
  border: 1px solid black;
  padding: 2px;
  border-radius: 6px;

  & img {
    width: 25px;
  }
}

.amountContainer {
  // border: 1px solid red;
  display: flex;
  align-items: center;
  height: 100%;
}

.myAccountsContainer {
  // border: 1px solid red;
  display: flex;
  align-items: center;
  width: 100%;
  height: 25px;
  padding-left: 12px;
}
